.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  color: red;
  /* border: 2px solid blue; */
}
.relative {
  position: relative;
  width: 50%;
  height: auto;
  margin: 3px auto;
}

.no-bounding-box {
  position: static;
  margin: 0 auto;

  transform: translate(0, -90px);
  z-index: 1;
}
.image-table {
  position: static;
  margin: 0 auto;
}
.faceFeatureTable {
   width: 100%; 
  margin: 0 auto;
}
